<nav class="navbar navbar-light bg-light">
  <%= link_to admin_voting_results_path, class: "btn btn-outline-primary" do %>
    <i>Back</i>
  <%end %>
  <h1><pre style="font-family: Sans-Serif; margin-top: 3%">                          Order Recount</pre></h1>
  <div>
    <%= link_to add_candidates_path, class: "btn btn-outline-primary" do %>
      <i>Add Candidate</i>
    <%end %>
    <%= link_to recount_path, class: "btn btn-outline-primary" do %>
      <i>Recount</i>
    <%end %>
    <%= link_to root_path, class: "btn btn-outline-danger" do %>
      <i >Logout</i>
    <%end %>
  </div>
</nav>
<br><br>

<div class="flex-container">
  <h2>Exclude Candidates from Recount:</h2>
</div>
<%= form_with url: order_recount_path, method: :post do |form|%>
  <section class="flex-container">
    <div class="all-candidates">
      <table class="ui table">
        <thead>
          <tr>
            <th>Candidate</th>
            <th>Party</th>
            <th>Votes</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <% @candidates.each do |candidate| %>
            <tr>
              <td><%= candidate.first_name + ' ' + candidate.surname %></td>
              <td><%= candidate.party %></td>
              <td><%= candidate.totalvotes %></td>
              <% if candidate.excluded == true %>
                <td><%= form.check_box "#{candidate.id}".to_s, checked: true %></td>
              <% else %>
                <td><%= form.check_box "#{candidate.id}".to_s %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <div class="flex-container">
    <%= submit_tag 'Confirm Recount', class: "btn btn-outline-primary" %>
  </div>
<% end %>